@import "../../variables";

@media only screen and (max-width: 600px) {
    .cardCounter{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
        .containerViewDetails{
            margin-top: 1rem;
            .btnVerProducto{
                font-family: $_font_primary;
                background-color: $acent-color;
                color: $secondary-color;
                font-size: 1.1rem;
                .iconView{
                    font-size: 1.5rem;
                    color: $secondary-color;

                }
            }
            
        }
    }
}

@media only screen and (min-width: 600px) {
    .cardCounter{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
        .containerViewDetails{
            margin-top: 1rem;
            .btnVerProducto{
                font-family: $_font_primary;
                background-color: $acent-color;
                color: $secondary-color;
                font-size: 1.2rem;
                .iconView{
                    font-size: 1.2rem;
                    color: $secondary-color;

                }
            }
            
        }
    }
}

