@import "../../variables";

.cardCounter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .containerViewDetails{
        .btnViewDetails{
            font-family: $_font_primary;
            font-size: .8rem;
            font-weight: 600;
            color: $primary-color;
            padding-top: 1rem;
            border-radius: 0.5em;
            
            .iconView{
                font-size: 1.2rem;
                color: $primary-color;
            }
        }
        
    }
}