@import "../../variables";

@media only screen and (max-width: 600px){
    .containerEmptyCart{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 3rem;
        height: 60vh;
        border-radius: 24px;
        background-color: #fff;
        box-shadow: 20px 20px 60px #fff
        -20px -20px 60px #ffffff;
        .titleEmptyCart{
            font-size: 2rem;
            text-align: center;
            margin-top: 3rem;
            color: $primary-color;
            font-weight: 600;
            font-family: $_font_secondary;
        }
        .gifCart{
            width: 40%;
            text-align: center;
            margin: auto;
        }
        .btnGoShop{
            background-color:  $primary-color;
            margin-top: 3rem;
            width: auto;
            justify-content: center;
            margin: auto;
            border-color:  $primary-color;
            font-family: $_font_secondary;
        }
    }
    .cartContainer{
        background-size: contain;
        display: flex;
        flex-direction: column;
        width: 100%;
        .cartContainer__title{
            font-weight: 600;
            font-size: 3rem;
            color: $primary-color;
            font-family: $_font_primary;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 3rem;
            text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
        }
        .cartItemContainer{
            display: flex;
            align-items: center;
            justify-content: center;
            background: $secondary-color;
            -webkit-box-shadow: 18px 18px 47px #a3a8b8, -18px -18px 47px #ffffff;
            box-shadow: 18px 18px 47px #a3a8b8, -18px -18px 47px #ffffff;
            height: 20vh;
            margin-bottom: 1rem;
            .columnTitle{
                flex-direction: row;
                text-align: left;
                width: 30%;
                margin-right: 1rem;
                margin-left: 1rem;
                .titleCart{
                    font-size: 1rem;
                    font-weight: 600;
                    text-align: center;
                }
            }
            .columnImg{
                width: 30%;
                text-align: center;
                justify-content: left;
                margin: auto;
                margin-right: 1rem;
            }
            .colItemPrice{
                margin-top: 1rem;
                width: 40%;
                font-size: .9rem;
                font-weight: 600;
                text-align: center;
                margin-right: 1rem;
            }
            .columnQuantity{
                width: 20%;
                text-align: center;
                font-size: .9rem;
                font-weight: 600;
                margin-right: 1rem;
                margin-top: 1rem;
            }
            .priceCart{
                margin-top: 1rem;
                width: 40%;
                font-size: .9rem;
                font-weight: 600;
                text-align: center;
                margin-right: 1rem;
            }
            .btnDeleteItem{
                display: flex;
                flex-direction: row;
                font-size: .6rem;
                margin: auto;
                text-align: center;
                justify-items: center;
                font-weight: 600;
                margin-right: 1rem;
                .iconDeleteItem{
                    font-size: .9rem;
                }
                
            }
        }
        .containerFooterCart{
            width: 100%;
            display: flex;
            flex-direction: row;
            margin-top: 3rem;
            .totalContainer{
                margin-top: 1rem;
                width: 100%;
                .quantityProducts{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    text-align: center;
                    font-size: 1rem;
                    color:#000;;
                    font-weight: 600;
                    margin-right: 1rem;
                    .quantityProduct{
                        text-align: center;
                        font-size: 1.5rem;
                        font-weight: 800;
                    }
                }
                .totalPrice{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    text-align: center;
                    font-size: 1.2rem;
                    color:#000;;
                    font-weight: 600;
                    margin-right: 1rem;
                    margin-bottom: 2rem;
                    .totalPriceNumber{
                        text-align: center;
                        font-size: 2rem;
                        font-weight: 800;
                    }
                }
                .btnClearCart{
                    background-color: $primary-color;
                    color: $secondary-color;
                    font-weight: 600;
                    border-color: $primary-color;
                    margin-right: 0.5rem;
                }
                .btnContinueShopping{
                    background-color: $secondary-color;
                    color: $primary-color;
                    border-color: $primary-color;
                    margin-right: .5rem;
                    font-weight: 600;
                }
                .btnCheckout{
                    background-color: #000;
                    color: $primary-color;
                    border-color: $secondary-color;
                    font-weight: 700;
                }
            }
        }
        
    }
}


@media only screen and (min-width: 600px){
    .containerEmptyCart{
        font-family: $_font_primary;
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 3rem;
        height: 60vh;
        border-radius: 24px;
        background-color: #fff;
        box-shadow: 20px 20px 60px #fff
        -20px -20px 60px #ffffff;
        .titleEmptyCart{
            font-size: 2.5rem;
            text-align: center;
            margin-top: 3rem;
            color: $primary-color;
            font-weight: 600;
            font-family: $_font_secondary;
        }
        .gifCart{
            width: 30%;
            text-align: center;
            margin: auto;
        }
        .btnGoShop{
            background-color:  $primary-color;
            margin-top: 3rem;
            width: auto;
            justify-content: center;
            margin: auto;
            border-color:  $primary-color;
            font-family: $_font_secondary;
        }
    }
    .cartContainer{
        background-size: contain;
        display: flex;
        flex-direction: column;
        width: 100%;
        .cartContainer__title{
            font-weight: 600;
            font-size: 4.5rem;
            color: $primary-color;
            text-align: center;
            text-transform: uppercase;
            font-family: $_font_primary;
            margin-bottom: 3rem;
            text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
        }
        .cartItemContainer{
            display: flex;
            align-items: center;
            justify-content: center;
            background: $secondary-color;
            -webkit-box-shadow: 18px 18px 47px #a3a8b8, -18px -18px 47px #ffffff;
            box-shadow: 18px 18px 47px #a3a8b8, -18px -18px 47px #ffffff;
            height: 20vh;
            width: auto;
            margin-bottom: 1rem;
            .columnTitle{
                flex-direction: row;
                text-align: left;
                width: 40%;
                margin-right: 1rem;
                margin-left: 1rem;
                .titleCart{
                    font-size: 1rem;
                    font-weight: 600;
                    text-align: center;
                }
            }
            .columnImg{
                width: 25%;
                text-align: center;
                justify-content: left;
                margin: auto;
                margin-right: 1rem;
            }
            .colItemPrice{
                margin-top: 1rem;
                width: 40%;
                font-size: 1rem;
                font-weight: 600;
                text-align: center;
                margin-right: 1rem;
            }
            .columnQuantity{
                width: 5%;
                text-align: center;
                font-size: 1rem;
                font-weight: 600;
                margin-right: 1rem;
                margin-top: 1rem;
            }
            .priceCart{
                margin-top: 1rem;
                width: 40%;
                font-size: 1rem;
                font-weight: 600;
                text-align: center;
                margin-right: 1rem;
            }
            .btnDeleteItem{
                display: flex;
                flex-direction: row;
                font-size: .8rem;
                margin: auto;
                text-align: center;
                justify-items: center;
                font-weight: 600;
                margin-right: 1rem;
                .iconDeleteItem{
                    font-size: 1.1rem;
                }
                
            }
        }
        .containerFooterCart{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-top: 3rem;
            .totalContainer{
                margin-top: 1rem;
                width: 80%;
                .quantityProducts{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    text-align: center;
                    font-size: 1rem;
                    color:#000;;
                    font-weight: 600;
                    margin-right: 1rem;
                    .quantityProduct{
                        text-align: center;
                        font-size: 1.5rem;
                        font-weight: 800;
                    }
                }
                .totalPrice{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    text-align: center;
                    font-size: 1.2rem;
                    color:#000;;
                    font-weight: 600;
                    margin-right: 1rem;
                    margin-bottom: 2rem;
                    .totalPriceNumber{
                        text-align: center;
                        font-size: 2rem;
                        font-weight: 800;
                    }
                }
                .btnClearCart{
                    background-color: $primary-color;
                    color: $secondary-color;
                    font-weight: 600;
                    border-color: $primary-color;
                    margin-right: .5rem;
                }
                .btnContinueShopping{
                    background-color: $secondary-color;
                    color: $primary-color;
                    border-color: $primary-color;
                    margin-right: .5rem;
                    font-weight: 600;
                }
                .btnCheckout{
                    background-color: #000;
                    color: $primary-color;
                    border-color: $secondary-color;
                    font-weight: 700;
                }
            }
        }
        
    }
}


@media only screen and (min-width: 1200px){
    .containerEmptyCart{
        font-family: $_font_primary;
        width: 60%;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 3rem;
        height: 60vh;
        border-radius: 24px;
        background-color: #fff;
        box-shadow: 20px 20px 60px #fff
        -20px -20px 60px #ffffff;
        .titleEmptyCart{
            font-size: 3rem;
            text-align: center;
            margin-top: 3rem;
            color: $primary-color;
            font-weight: 600;
            font-family: $_font_secondary;
        }
        .gifCart{
            width: 30%;
            text-align: center;
            margin: auto;
        }
        .btnGoShop{
            background-color:  $primary-color;
            margin-top: 3rem;
            width: auto;
            font-size: 1.2rem;
            justify-content: center;
            margin: auto;
            border-color:  $primary-color;
            font-family: $_font_secondary;
        }
    }
    .cartContainer{
        background-size: contain;
        display: flex;
        flex-direction: column;
        width: 100%;
        .cartContainer__title{
            font-weight: 600;
            font-size: 6rem;
            color: $primary-color;
            text-transform: uppercase;
            font-family: $_font_primary;
            margin-bottom: 3rem;
            text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);

        }
        .cartItemContainer{
            display: flex;
            align-items: center;
            justify-content: center;
            background: $secondary-color;
            -webkit-box-shadow: 18px 18px 47px #a3a8b8, -18px -18px 47px #ffffff;
            box-shadow: 18px 18px 47px #a3a8b8, -18px -18px 47px #ffffff;
            width: auto;
            height: auto;
            margin-bottom: 1rem;
            .columnTitle{
                flex-direction: row;
                text-align: left;
                width: 40%;
                margin-right: 1rem;
                margin-left: 1rem;
                .titleCart{
                    font-size: 1.2rem;
                    font-weight: 600;
                    text-align: center;
                }
            }
            .columnImg{
                width: 20%;
                text-align: center;
                justify-content: left;
                margin: auto;
                margin-right: 1rem;
            }
            .colItemPrice{
                margin-top: 1rem;
                width: 40%;
                font-size: 1.2rem;
                font-weight: 600;
                text-align: center;
                margin-right: 1rem;
            }
            .columnQuantity{
                width: 5%;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 600;
                margin-right: 1rem;
                margin-top: 1rem;
            }
            .priceCart{
                margin-top: 1rem;
                width: 40%;
                font-size: 1.2rem;
                font-weight: 600;
                text-align: center;
                margin-right: 1rem;
            }
            .btnDeleteItem{
                display: flex;
                flex-direction: row;
                font-size: 1rem;
                margin: auto;
                text-align: center;
                justify-items: center;
                font-weight: 600;
                margin-right: 1rem;
                .iconDeleteItem{
                    font-size: 1.3rem;
                } 
            }
        }
        .containerFooterCart{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-top: 3rem;
            .totalContainer{
                margin-top: 1rem;
                width: 50%;
                .quantityProducts{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    text-align: center;
                    font-size: 1.2rem;
                    color:#000;;
                    font-weight: 600;
                    margin-right: 1rem;
                    .quantityProduct{
                        text-align: center;
                        font-size: 1.8rem;
                        font-weight: 800;
                    }
                }
                .totalPrice{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    text-align: center;
                    font-size: 1.6rem;
                    color:#000;;
                    font-weight: 600;
                    margin-right: 1rem;
                    margin-bottom: 2rem;
                    .totalPriceNumber{
                        text-align: center;
                        font-size: 2rem;
                        font-weight: 800;
                    }
                }
                .btnClearCart{
                    background-color: $primary-color;
                    color: $secondary-color;
                    font-weight: 600;
                    border-color: $primary-color;
                    margin-right: 2rem;
                    font-size: 1.2rem;
                }
                .btnContinueShopping{
                    background-color: $secondary-color;
                    color: $primary-color;
                    border-color: $primary-color;
                    margin-right: 2rem;
                    font-weight: 600;
                    font-size: 1.2rem;
                }
                .btnCheckout{
                    background-color: #000;
                    color: $primary-color;
                    border-color: $secondary-color;
                    font-weight: 700;
                    font-size: 1.2rem;
                }
            }
        }
        
    }
}