.userInfoContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba($color: #f3f3f3, $alpha: 0.5);
    font-family: 'Lato';
    justify-content: space-between;
    padding: .5rem;
    text-align: center;
    .dataUser{
        font-weight: 600;
        padding-top: .8rem;
        
    }
    .btnLogout{
        font-family: 'Lato';
        font-weight: 600;
        background-color: #c62828;
        border-color: #f3f3f3;
        border-radius: 12px;
        color: #f3f3f3;
        height: auto;
        .iconLogout{
            color: #f3f3f3;
        }
        
    }
    
}