@import "../../variables";

@media only screen and (max-width: 600px) {
    .containerDetail{
        justify-content: center;
        text-align: center;
        margin: auto;
        width: 90%;
        margin-top: 2rem;
        background-color: $secondary-color;
        box-shadow: 20px 20px 60px #696969,
        -20px -20px 60px #ffffff;
        border-radius: 24px;
        margin-bottom: 3rem;
        .containerBackButton{
            display: flex;
            text-align: left;
            margin-right: auto;
            .btnBack{
                margin: 2rem;
                color: $primary-color;
                font-size: 1rem;
                font-weight: 600;
                font-family: $_font_secondary;
                
                &:hover{
                    cursor: pointer;
                }
                .iconBack{
                    margin-bottom: 0.3rem;
                    font-size: 1rem;
                }
            }
        }
        .containerDetailProduct{
            .detailCategory{
                font-size: 1.2rem;
                margin-bottom: 3rem;
                color: #696969;
                font-family: $_font_secondary;
                
            }
            .detailTitle{
                color: $primary-color;
                font-family: $_font_primary;
                text-transform: uppercase;
                font-size: 1.7rem;
                font-weight: 800;
                margin: 2rem 0 2rem 0;
            }
            .detailLegend{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: justify;
                margin: auto;
                width: 80%;
                font-size: .8rem;
                font-family: $_font_secondary;
                font-weight: 600;
            }
            .detailGenre{
                font-family: $_font_secondary;
                margin-top: 1rem;
                color: $primary-color;
                font-size: 1.2rem;
                font-weight: 800;
            }
            .detailPrice{
                font-size: 1.8rem;
                font-weight: 800;
                margin-top: 3rem;
                margin-bottom: 2rem;
                font-family: $_font_primary;
            }
            .btnViewCart{
                margin: 2rem;
                background-color: $secondary-color;
                color: $primary-color;
                font-weight: 600;
                font-size: .8rem;
                border-color: 1px solid $primary-color;
                box-shadow: 5px 5px 10px #696969,
                -5px -5px 10px #ffffff;
                .iconButton{
                    font-weight: 800;
                    font-size: 1.5rem;
                }
            }
            
        }
        .containerCounter{
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            .btnCounter{
                background-color: $primary-color;
                color: $secondary-color;
                border-color: $primary-color;
                margin: 2rem;
                .iconCounterButton{
                    font-weight: 900;
                    font-size: 1.5rem;
                }
            }
            .btnCounterDisabled{
                background-color: #686868;
                color: $secondary-color;
                border-color: $secondary-color;
                margin: 2rem;
                .iconCounterButton{
                    font-weight: 900;
                    font-size: 1.5rem;
                }
            }
            .counterNumber{
                font-weight: 700;
                font-size: 2rem;
                vertical-align:middle;
                font-family: $_font_primary;

            }
            .btnAddCart{
                margin: 1rem 0;
                background-color: $primary-color;
                color: $secondary-color;
                font-weight: 800;
                font-size: .7rem;
                width: 30vw;
                .iconButton{
                    font-size:1.5rem;
                }
            }
            
        }

    }
}

@media only screen and (min-width: 600px) {
    .containerDetail{
        font-family: 'Lato';
        justify-content: center;
        text-align: center;
        margin: auto;
        width: 90%;
        margin-top: 2rem;
        background-color: $secondary-color;
        box-shadow: 20px 20px 60px #696969,
        -20px -20px 60px #ffffff;
        border-radius: 24px;
        margin-bottom: 3rem;
        .containerBackButton{
            display: flex;
            text-align: left;
            margin-right: auto;
            .btnBack{
                margin: 2rem;
                color: $primary-color;
                font-size: 1.2rem;
                font-weight: 600;
                font-family: $_font_secondary;
                
                &:hover{
                    cursor: pointer;
                }
                .iconBack{
                    margin-bottom: .3rem;
                    font-size: 1.5rem;
                }
            }
        }
        .containerDetailProduct{
            .detailCategory{
                font-family: $_font_secondary;
                font-size: 1.2rem;
                margin-bottom: 3rem;
                color: #696969;
                
            }
            .detailTitle{
                color: $primary-color;
                font-family: $_font_primary;
                text-transform: uppercase;
                font-size: 2.2rem;
                font-weight: 800;
                margin: 2rem 0 2rem 0;
            }
            .detailLegend{
                font-family: $_font_secondary;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: justify;
                margin: auto;
                width: 70%;
                font-size: 1rem;
                font-weight: 600;
            }
            .detailGenre{
                font-weight: 600;
                margin-top: 1rem;
                color: $primary-color;
                font-size: 1.2rem;
                font-family: $_font_secondary;
            }
            .detailPrice{
                font-family: $_font_primary;
                font-size: 2.2rem;
                font-weight: 800;
                margin-top: 3rem;
                margin-bottom: 2rem;
            }
            .btnViewCart{
                background-color: $secondary-color;
                color: $primary-color;
                font-weight: 600;
                font-size: 1rem;
                border-color: 1px solid $primary-color;
                box-shadow: 5px 5px 10px #696969,
                -5px -5px 10px #ffffff;
                margin: 2rem;
                .iconButton{
                    font-weight: 800;
                    font-size: 1.5rem;
                }
            }
            
        }
        .containerCounter{
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: all .5 ease-in-out;
            .btnCounter{
                background-color: $primary-color;
                color: $secondary-color;
                border-color: $primary-color;
                margin: 2rem;
                .iconCounterButton{
                    font-weight: 900;
                    font-size: 2rem;
                }
            }
            .btnCounterDisabled{
                background-color: #686868;
                color: $secondary-color;
                border-color: #686868;
                margin: 2rem;
                .iconCounterButton{
                    font-weight: 900;
                    font-size: 2rem;
                }
            }
            .counterNumber{
                font-family: $_font_primary;
                font-weight: 700;
                font-size: 3rem;
                vertical-align:middle;

            }
            .btnAddCart{
                font-family: $_font_primary;
                margin: 1rem 0;
                background-color: $primary-color;
                color: $secondary-color;
                font-weight: 800;
                font-size: 1rem;
                width: 30vw;
                .iconButton{
                    font-size:1.8rem;
                }
            }
            
        }
    }
}


@media only screen and (min-width: 1200px) {
    .containerDetail{
        font-family: 'Lato';
        justify-content: center;
        text-align: center;
        margin: auto;
        width: 70%;
        height: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        background-color: $secondary-color;
        box-shadow: 20px 20px 60px #696969,
        -20px -20px 60px #ffffff;
        border-radius: 24px;
        .containerBackButton{
            display: flex;
            text-align: left;
            margin-right: auto;
            .btnBack{
                font-family: $_font_secondary;
                margin: 2rem;
                color: $primary-color;
                font-size: 1.2rem;
                font-weight: 800;
                
                &:hover{
                    cursor: pointer;
                }
                .iconBack{
                    font-size: 1.2rem;
                }
            }
        }
        .rowContainer{
            display: flex;
            flex-direction: row;
            .containerImg{
                margin: 1rem;
                width: 40%;
                .card-img-top{
                    width: 100%;
                    object-fit: cover;
                }
            }
            .containerDetailProduct{
                margin-left: auto;
                width: 50%;
                margin-top: 1rem;
                height: auto;
                .detailCategory{
                    font-family: $_font_secondary;
                    font-size: 1.5rem;
                    margin-bottom: 3rem;
                    color: #696969;
                }
                .detailTitle{
                    font-family: $_font_primary;
                    color: $primary-color;
                    font-size: 2.5rem;
                    font-weight: 800;
                    margin-bottom: 2rem;
                }
                .detailLegend{
                    font-family: $_font_secondary;
                    text-align: justify;
                    margin-bottom: 2rem; 
                    font-size: 1.2rem;
                }
                .detailGenre{
                    font-weight: 600;
                    color: $primary-color;
                    font-size: 1.5rem;
                }
                .detailPrice{
                    font-family: $_font_primary;
                    font-size: 3rem;
                    font-weight: 700;
                    margin-top: 3rem;
                    margin-bottom: 2rem;
                }
                .btnViewCart{
                    background-color: $secondary-color;
                    color: $primary-color;
                    font-weight: 600;
                    font-size: 1.2rem;
                    border-color: 1px solid $primary-color;
                    box-shadow: 5px 5px 10px #696969,
                    -5px -5px 10px #ffffff;
                    .iconButton{
                        font-weight: 800;
                        font-size: 1.5rem;
                    }
                }
    
            }
            .containerCounter{
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                .btnCounter{
                    background-color: $primary-color;
                    color: $secondary-color;
                    border-color: $primary-color;
                    margin: 2rem;
                    height: 40px;
                    width: 50px;
                    .iconCounterButton{
                        font-weight: 900;
                        font-size: 1.5rem;
                    }
                }
                .btnCounterDisabled{
                    background-color: #686868;
                    color: $secondary-color;
                    border-color: #686868;
                    margin: 2rem;
                    height: 40px;
                    width: 50px;
                    .iconCounterButton{
                        font-weight: 900;
                        font-size: 1.5rem;
                    }
                }
                
                .counterNumber{
                    font-weight: 700;
                    font-size: 2rem;
                    vertical-align:middle;
    
                }
                .btnAddCart{
                    margin: 1rem 0;
                    background-color: $primary-color;
                    color: $secondary-color;
                    font-weight: 800;
                    font-size: 1.2rem;
                    width: auto;
                    .iconButton{
                        font-size:2rem;
                    }
                }
                
            }
            
        }
        
    }
    
}
