@import "../../variables";

@media only screen and (max-width: 600px) {
  .iconCart{
    margin-top: 1rem;
    font-size: 1.8rem;
    color: $secondary-color;
    font-weight: 900;
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in-out;
    
  }
  .cartCounter{
    background-color: $secondary-color;
    font-size: 1rem;
    font-weight: 800;
    vertical-align: top;
    color: $primary_color;
    height: 25px;
    width: 25px;
    text-align: center;
    background-color: $secondary-color;
    border-radius: 50%;
    display: inline-block;
  }
  
  .cart-hidden{
    visibility: hidden;
    opacity: 0;
  }
}

@media only screen and (min-width: 600px) {
  .iconCart{
    margin-top: 1rem;
    font-size: 2rem;
    color: $secondary-color;
    font-weight: 900;
    visibility: visible;
    opacity: 1;
    transition: all .3s ease-in-out;
    
  }
  .cartCounter{
    background-color: $secondary-color;
    font-size: 1rem;
    font-weight: 800;
    vertical-align: top;
    color: $primary_color;
    height: 25px;
    width: 25px;
    text-align: center;
    background-color: $secondary-color;
    border-radius: 50%;
    display: inline-block;
  }
  
  .cart-hidden{
    visibility: hidden;
    opacity: 0;
  }
}

@media only screen and (min-width: 1200px) {
    .iconCart{
      margin-top: 1rem;
      font-size: 2rem;
      color: $secondary-color;
      font-weight: 900;
      visibility: visible;
      opacity: 1;
      transition: all .3s ease-in-out;
      
    }
    .cartCounter{
        background-color: $secondary-color;
        font-size: 1rem;
        font-weight: 800;
        vertical-align: top;
        color: $primary_color;
        height: 25px;
        width: 25px;
        text-align: center;
        background-color: $secondary-color;
        border-radius: 50%;
        display: inline-block;
      }
    .cart-hidden{
      visibility: hidden;
      opacity: 0;
    }
    

}