.btnCart{
    background-color: #f3f3f3;
    border-color: #c62828;
    color: #c62828;
    font-weight: 900;
    font-size: 1.5rem;
    .iconCart{
        color: #c62828;
        font-size: 2rem;
    }
    .cartCounter{
        padding-left: 10px;
        font-family: 'Lato';
        font-size: 1.2rem;
    }
  }
  