@import "../../variables";

@media only screen and (max-width: 600px) {
    .sections{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 1rem;
        .sections__h2{
            font-family: $_font_secondary;
            font-weight: 700;
            font-size: 3rem;
            color: $primary-color;
            font-family: $_font_primary;
            text-transform: uppercase;
            text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
        }
        .navCategory{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 70%;
            .navCategoryItem{
                color: $primary-color;
                font-size: 1.2rem;
                font-weight: 600;
                text-decoration: none;
                display: inline-block;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 3px;
                    bottom: 0;
                    left: 0;
                    background-color: $primary-color;
                    transform-origin: bottom right;
                    transition: transform 0.3s ease-out;
                  }
                  &:hover {
                    &:after {
                      transform: scaleX(1);
                      transform-origin: bottom left;
                    }
                  }
            }
        }
        .spinnerNewRelease{
            margin-top: 5rem;
            display: flex;
            flex-direction: column;
            margin: auto;
            justify-content: center;
            background-image: url('./spinner_shoes.svg');
            background-size: contain;
            width: 5rem;
            height: 5rem;
            animation: pulse 2s;
        }
        @keyframes pulse {
            30%{
                opacity: 1;
            }
            60%{
                opacity: 0.3;
            }
            90%{
                opacity: 1;
            }
            99%{
                opacity: 0.3;
            }
    
            
        }
    }
}

@media only screen and (min-width: 600px) {
    .sections{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 2rem;
        .sections__h2{
            font-weight: 600;
            font-size: 4.5rem;
            color: $primary-color;
            
            text-transform: uppercase;
            text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
        }
        .navCategory{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 80%;
            font-family: $_font_primary;
            .navCategoryItem{
                color: $primary-color;
                font-size: 1.5rem;
                text-decoration: none;
                display: inline-block;
                position: relative;
                font-weight: 600;

                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 3px;
                    bottom: 0;
                    left: 0;
                    background-color: $primary-color;
                    transform-origin: bottom right;
                    transition: transform 0.3s ease-out;
                  }
                  &:hover {
                    &:after {
                      transform: scaleX(1);
                      transform-origin: bottom left;
                    }
                  }
            }
        }
        .spinnerNewRelease{
            margin-top: 10rem;
            display: flex;
            flex-direction: column;
            margin: auto;
            justify-content: center;
            background-image: url('./spinner_shoes.svg');
            background-size: contain;
            width: 8rem;
            height: 8rem;
            animation: pulse 2s;
        }
        @keyframes pulse {
            30%{
                opacity: 1;
            }
            60%{
                opacity: 0.3;
            }
            90%{
                opacity: 1;
            }
            99%{
                opacity: 0.3;
            }
    
            
        }
    }
}

@media only screen and (min-width: 1200px) {
    .sections{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 2rem;
        .sections__h2{
            font-weight: 600;
            font-size: 6rem;
            color: $primary-color;
            font-family: $_font_primary;
            text-transform: uppercase;
            text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
        }
        .navCategory{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 60%;
            .navCategoryItem{
                color: $primary-color;
                font-size: 1.8rem;
                font-weight: 600;
                text-decoration: none;
                display: inline-block;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 3px;
                    bottom: 0;
                    left: 0;
                    background-color: $primary-color;
                    transform-origin: bottom right;
                    transition: transform 0.3s ease-out;
                  }
                  &:hover {
                    &:after {
                      transform: scaleX(1);
                      transform-origin: bottom left;
                    }
                  }
            }
        }
        .spinnerNewRelease{
            margin-top: 5rem;
            display: flex;
            flex-direction: column;
            margin: auto;
            justify-content: center;
            background-image: url('./spinner_shoes.svg');
            background-size: contain;
            width: 10rem;
            height: 10rem;
            animation: pulse 2s;
        }
        @keyframes pulse {
            30%{
                opacity: 1;
            }
            60%{
                opacity: 0.3;
            }
            90%{
                opacity: 1;
            }
            99%{
                opacity: 0.3;
            }
    
            
        }
    }
}
