.sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    .sections__h2{
        font-weight: 600;
        font-size: 6rem;
        color: #c62828;
        margin-bottom: 2rem;
    }
    
    .sections__p{
        font-weight: 400;
        font-size: 3rem;
    }
    .sections__hr{
        font-weight: 800;
        color: #ff0000;
        height: 10px;
    }
}