@import "../../variables";
@media only screen and (max-width: 600px) {


    .containerOrderNumber{
        background-image: url('https://images.unsplash.com/photo-1643535170091-319c6fe2e191?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80');
        height: 80vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        .titleOrderNumber{
            text-align: center;
            margin-top: 5rem;
            font-family: $_font_primary;
            color: $secondary-color;
            text-transform: uppercase;
            font-size: 3rem;
        }
        .pOrder{
            background-color: $secondary-color;
            margin-top: 1rem;
            font-family: $_font_secondary;
            text-align: center;
            font-weight: 600;
            .spanOrder{
                text-decoration: 3px underline solid black;
                font-weight: 800;
                font-size: 1.5rem;
            }
        }
        .btnBackHome{
            background-color: $secondary-color;
            border-color: $primary-color;
            color: $primary-color;
            font-family: $_font_primary;
            width: 50%;
            margin: auto;
            &:hover{
                transition: ease-in-out .3s;
                background-color: black;
                color: $secondary-color;
            }
        }

    }
    .titleCheckout{
        margin-top: 3rem;
        font-weight: 600;
        font-size: 2.5rem;
        color: $primary-color;
        font-family: $_font_logo;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 3rem;
        text-shadow: 0px 3px 0px #b2a98f,
             0px 14px 10px rgba(0,0,0,0.15),
             0px 24px 2px rgba(0,0,0,0.1),
             0px 34px 30px rgba(0,0,0,0.1);
    }
    .checkoutResumen{
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        width: 90%;
        background-color: $secondary-color;
        .titleResumen{
            font-family: $_font_primary;
            text-transform: uppercase;
            margin: 3rem;
            text-align: center;
            font-size: 1.8rem;
        }
        .tableContainer{
            width: 90%;
            justify-content: center;
            margin: auto;
            .headResume{
                font-size: 1.2rem;
                .colProducto{
                    width: 50%;
                }
            }
        }
        .totalCarrito{
            font-family: $_font_primary;
            width: 90%;
            margin: auto;
            font-size: 1.2rem;
            justify-content: flex-end;
        }
    }
    .containerCheckout{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        font-family: $_font_secondary;
        background-image: linear-gradient(#D12127, #D12127);
        background-size:cover;
        background-repeat: no-repeat;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        .imgCheckout{
            display: none;
        }
        .checkoutForm{
            padding-top: 2rem;
            margin-bottom: 2rem;
            background-image: linear-gradient(#D12127, #D12127);
            height: auto;
            .labelInfo{
                display: flex;
                margin: auto;
                text-align: center;
                justify-content: center;
                font-family: $_font_primary;
                color: $secondary-color;
                text-transform: uppercase;
                margin-bottom: 1rem;
                font-size: 1.5rem;
            }
            .checkoutInput{
                font-size: .8rem;
                width: 80%;
                justify-content: center;
                margin: auto;
            }
            .errorForm{
                text-align: center;
                width: 60%;
                margin: auto;
                color: white;
                background-color: rgba(255, 0, 0, 0.493);
            }
            .btnCheckoutContainer{
                margin-top: 2rem;
                display: flex;
                flex-direction: column;
                width: 50%;
                margin: auto;
                .btnConfirm{
                    background-color: $primary-color;
                    border-color: white;
                    font-size: .8rem;
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                    font-weight: 600;
                    &:hover{
                        border-color: green;
                        background-color: green;
                    }
                }
                .btnCheckoutCancel{
                    background-color: $secondary-color;
                    color: $primary-color;
                    font-size: .8rem;
                    margin-bottom: 2rem;
                    font-weight: 600;
                    &:hover{
                        color: white;
                        background-color: red;
                    }
                }
            }
        }

    }

    

}

@media only screen and (min-width: 600px) {
    .containerOrderNumber{
        background-image: url('https://images.unsplash.com/photo-1643535170091-319c6fe2e191?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80');
        height: 80vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        .titleOrderNumber{
            text-align: center;
            margin-top: 5rem;
            font-family: $_font_primary;
            color: $secondary-color;
            text-transform: uppercase;
            font-size: 3.5rem;
        }
        .pOrder{
            width: 80%;
            margin: auto;
            display: flex;
            flex-direction: column;
            background-color: $secondary-color;
            margin-top: 1rem;
            font-family: $_font_secondary;
            text-align: center;
            font-weight: 600;
            font-size: 1.2rem;
            .spanOrder{
                text-decoration: 3px underline solid black;
                font-weight: 800;
                font-size: 2rem;
            }
        }
        .btnBackHome{
            background-color: $secondary-color;
            border-color: $primary-color;
            color: $primary-color;
            font-family: $_font_primary;
            width: 50%;
            margin: auto;
            &:hover{
                transition: ease-in-out .3s;
                background-color: black;
                color: $secondary-color;
            }
        }

    }
    .titleCheckout{
        margin-top: 3rem;
        font-weight: 600;
        font-size: 3rem;
        color: $primary-color;
        font-family: $_font_logo;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 3rem;
        text-shadow: 0px 3px 0px #b2a98f,
             0px 14px 10px rgba(0,0,0,0.15),
             0px 24px 2px rgba(0,0,0,0.1),
             0px 34px 30px rgba(0,0,0,0.1);
    }
    .checkoutResumen{
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        background-color: $secondary-color;
        .titleResumen{
            font-family: $_font_primary;
            text-transform: uppercase;
            margin: 3rem;
            text-align: center;
            font-size: 2.3rem;
            font-weight: 600;
        }
        
        
        .tableContainer{
            width: 100%;
            justify-content: center;
            margin: auto;
            .headResume{
                font-size: 1.2rem;
                .colProducto{
                    width: 50%;
                }
                .colCantidad{
                    width: 25%;
                }
                .colPrecio{
                    width: 25%;
                }
            }
            .bodyResume{
                font-family: $_font_secondary;
                font-size: 1.2rem;
                font-weight: 400;
            }
        }
        .totalCarrito{
            font-family: $_font_primary;
            width: 100%;
            margin: auto;
            font-size: 1.8rem;
            justify-content: flex-end;
        }
    }
    .containerCheckout{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        font-family: $_font_secondary;
        background-image: linear-gradient(#D12127, #D12127);
        background-size:cover;
        background-repeat: no-repeat;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        .imgCheckout{
            display: none;
        }
        .checkoutForm{
            padding-top: 2rem;
            margin-bottom: 2rem;
            background-image: linear-gradient(#D12127, #D12127);
            height: auto;
            .labelInfo{
                display: flex;
                margin: auto;
                text-align: center;
                justify-content: center;
                font-family: $_font_primary;
                color: $secondary-color;
                text-transform: uppercase;
                margin-bottom: 1rem;
                font-size: 2rem;
            }
            .checkoutInput{
                font-size: .9rem;
                width: 60%;
                justify-content: center;
                margin: auto;
            }
            .errorForm{
                text-align: center;
                width: 60%;
                margin: auto;
                color: white;
                background-color: rgba(255, 0, 0, 0.493);
            }
            .btnCheckoutContainer{
                margin-top: 2rem;
                display: flex;
                flex-direction: column;
                width: 50%;
                margin: auto;
                .btnConfirm{
                    background-color: $primary-color;
                    border-color: white;
                    font-size: .9rem;
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                    font-weight: 600;
                    &:hover{
                        border-color: green;
                        background-color: green;
                    }
                }
                .btnCheckoutCancel{
                    background-color: $secondary-color;
                    color: $primary-color;
                    font-size: .9rem;
                    margin-bottom: 2rem;
                    font-weight: 600;
                    &:hover{
                        color: white;
                        background-color: red;
                    }
                }
            }
        }

    }

}


@media only screen and (min-width: 1200px) {

    .containerOrderNumber{
        background-image: url('https://images.unsplash.com/photo-1643535170091-319c6fe2e191?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80');
        height: 80vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        .titleOrderNumber{
            margin-top: 5rem;
            text-align: center;
            font-family: $_font_primary;
            color: $secondary-color;
            text-transform: uppercase;
            font-size: 5rem;
        }
        .pOrder{
            width: 80%;
            margin: auto;
            display: flex;
            flex-direction: column;
            background-color: $secondary-color;
            margin-top: 1rem;
            font-family: $_font_secondary;
            text-align: center;
            font-weight: 600;
            font-size: 2.3rem;
            .spanOrder{
                text-decoration: 3px underline solid black;
                font-weight: 800;
                font-size: 3rem;
            }
        }
        .btnBackHome{
            background-color: $secondary-color;
            border-color: $primary-color;
            color: $primary-color;
            font-family: $_font_primary;
            width: 30%;
            margin: auto;
            font-size: 1.2rem;
            &:hover{
                transition: ease-in-out .3s;
                background-color: black;
                color: $secondary-color;
            }
        }

    }
    .titleCheckout{
        margin-top: 3rem;
        font-weight: 600;
        font-size: 4rem;
        color: $primary-color;
        font-family: $_font_logo;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 3rem;
        text-shadow: 0px 3px 0px #b2a98f,
             0px 14px 10px rgba(0,0,0,0.15),
             0px 24px 2px rgba(0,0,0,0.1),
             0px 34px 30px rgba(0,0,0,0.1);
    }
    
    .containerCheckout{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
        font-family: $_font_secondary;
        background-image: linear-gradient(#D12127, #D12127);
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        .checkoutResumen{
            display: flex;
            flex-direction: column;
            margin: 2rem;
            justify-content: center;
            width: 70%;
            background-color: $secondary-color;
            .titleResumen{
                font-family: $_font_primary;
                text-transform: uppercase;
                margin: 3rem;
                text-align: center;
                font-size: 2.5rem;
            }
            .pUser{
                font-size: 1.5rem;
            }
            .tableContainer{
                width: 100%;
                justify-content: center;
                margin: auto;
                .headResume{
                    font-size: 1.8rem;
                    
                }
                .bodyResume{
                    font-family: $_font_secondary;
                    font-size: 1.5rem;
                    font-weight: 400;
                }
            }
            .totalCarrito{
                font-family: $_font_primary;
                width: 100%;
                margin: auto;
                font-size: 2rem;
                justify-content: flex-end;
            }
        }
        .imgCheckout{
            display: none;
        }
        .checkoutForm{
            padding-top: 12rem;
            margin-bottom: 2rem;
            height: auto;
            width: 50%;
            background-color: #d12127c9;
            .labelInfo{
                display: flex;
                margin: auto;
                text-align: center;
                justify-content: center;
                font-family: $_font_primary;
                color: $secondary-color;
                text-transform: uppercase;
                margin-bottom: 1rem;
                font-size: 2.5rem;
            }
            .checkoutInput{
                font-size: 1.2rem;
                width: 50%;
                justify-content: center;
                margin: auto;
            }
            .errorForm{
                text-align: center;
                width: 50%;
                margin: auto;
                color: white;
                background-color: rgba(255, 0, 0, 0.493);
            }
            .btnCheckoutContainer{
                margin-top: 2rem;
                display: flex;
                flex-direction: column;
                width: 30%;
                margin: auto;
                .btnConfirm{
                    background-color: $primary-color;
                    border-color: white;
                    font-size: 1.2rem;
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                    font-weight: 600;
                    &:hover{
                        border-color: green;
                        background-color: green;
                    }
                }
                .btnCheckoutCancel{
                    background-color: $secondary-color;
                    color: $primary-color;
                    font-size: 1.2rem;
                    margin-bottom: 2rem;
                    font-weight: 600;
                    &:hover{
                        color: white;
                        background-color: red;
                    }
                }
            }
        }

    }

}
