@import "../../variables";

@media only screen and (max-width:600px) {
    .formContainer{
        justify-content: center;
        text-align: center;
        margin: auto;
        width: 90%;
        padding-top: 5rem;
        margin-top: 6rem;
        background-color: $acent-color;
        box-shadow: 20px 20px 60px #696969,
        -20px -20px 60px #ffffff;
        margin-bottom: 3rem;
        height: 50vh;
        
        .checkoutInput{
            font-family: $_font_secondary;
            font-size: 1rem;
            max-width: 80%;
            margin: auto;
            width: 90%;
        }
        .btnConfirm{
            margin-top: 5rem;
            margin-bottom: 2rem;
            background-color: $primary-color;
            border-color: transparent;
            font-family: $_font_primary;

        }
    }
}

@media only screen and (min-width:600px) {
    .formContainer{
        justify-content: center;
        text-align: center;
        margin: auto;
        width: 90%;
        padding-top: 10rem;
        margin-top: 6rem;
        background-color: $acent-color;
        box-shadow: 20px 20px 60px #696969,
        -20px -20px 60px #ffffff;
        margin-bottom: 3rem;
        height: 60vh;
        
        .checkoutInput{
            font-family: $_font_secondary;
            font-size: 1.2rem;
            max-width: 80%;
            margin: auto;
            width: 90%;
        }
        .btnConfirm{
            font-size: 1.2rem;
            margin-top: 5rem;
            margin-bottom: 2rem;
            background-color: $primary-color;
            border-color: transparent;
            font-family: $_font_primary;

        }
    }
}

@media only screen and (min-width:1200px) {
    .formContainer{
        justify-content: center;
        text-align: center;
        margin: auto;
        width: 50%;
        padding-top: 5rem;
        margin-top: 6rem;
        background-color: $acent-color;
        box-shadow: 20px 20px 60px #696969,
        -20px -20px 60px #ffffff;
        margin-bottom: 3rem;
        height: 50vh;
        
        .checkoutInput{
            font-family: $_font_secondary;
            font-size: 1.5rem;
            max-width: 80%;
            margin: auto;
            width: 90%;
        }
        .btnConfirm{
            font-size: 1.5rem;
            margin-top: 5rem;
            margin-bottom: 2rem;
            background-color: $primary-color;
            border-color: transparent;
            font-family: $_font_primary;

        }
    }
}