/*Fuentes*/

@import "../../variables";

@media only screen and (max-width: 600px) {
  .header{
    .myNavbar{
      background: $acent-color;
      box-shadow: 0 0 10px black;
      .containerNav{
        width: 100%;
        .myNavbar__brand{
          margin: 0;
          .logo{
            margin-top: .5rem;
            font-size: 2rem;
            font-family: $_font_logo;
            animation: flicker 1.5s infinite alternate;
            color: #fff;
          }

        }
      }
      
      .togglerMenuMobile{
        width: auto;
        border-color: transparent;
        right: 0;
        .iconMenuMobile{
          padding: 0;
          font-size: 1.5rem;
          font-weight: 600;
          color: $secondary-color;
        }
      }
  
      .myNav{
        margin-top: 1.5rem;
        display: flex;
        margin-left: auto;
        .myNavLink{
          padding: 10px 0;
          text-decoration: none;
          display: inline-block;
          position: relative;
          color: $secondary-color;
          font-family: $_font_secondary;
          font-size: .8rem;
          margin-right: 2rem;
          font-weight: 400;
          &:hover {
            font-weight: 600;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .header{
    .myNavbar{
      background: $acent-color;
      box-shadow: 0 0 10px black;
      .containerNav{
        width: 100%;
        .myNavbar__brand{
          margin: 0;
          .logo{
            margin-top: .5rem;
            font-size: 2.5rem;
            font-family: $_font_logo;
            animation: flicker 1.5s infinite alternate;
            color: #fff;
          }
        }
      }
      .togglerMenuMobile{
        width: auto;
        border-color: transparent;
        right: 0;
        .iconMenuMobile{
          padding: 0;
          font-size: 1.8rem;
          font-weight: 600;
          color: $secondary-color;
        }
      }
  
      .myNav{
        margin-top: 1.5rem;
        display: flex;
        margin-left: auto;
        .myNavLink{
          padding: 10px 0;
          text-decoration: none;
          display: inline-block;
          position: relative;
          color: $secondary-color;
          font-family: $_font_secondary;
          font-size: .8rem;
          margin-right: 2rem;
          font-weight: 400;
          &:hover {
            font-weight: 600;
          }
        }
      }
    }
  }
}



@media only screen and (min-width: 1200px) {
  .myNavbar{
    background: $acent-color;
    box-shadow: 0 0 10px black;
    .containerNav{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .myNavbar__brand{
        .logo{
          margin-top: .5rem;
          font-size: 3rem;
          @font-face {
            font-family: $_font_logo;
            src: url(gs://snkrs-world.appspot.com/fuentes/Nixmat.otf);
          }
          animation: flicker 1.5s infinite alternate;
          color: #fff;
        }
      }
      .myNav{
        margin-top: 1rem;
        .myNavLink{
          font-family: $_font_primary;
          text-decoration: none;
          display: inline-block;
          position: relative;
          color: $secondary-color;
          font-size: 1.1rem;
          font-weight: 400;
          margin-bottom: 1rem;
          &:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: $secondary-color;
            transform-origin: bottom right;
            transition: transform 0.3s ease-out;
          }
          &:hover {
            font-weight: 600;
            &:after {
              transform: scaleX(1);
              transform-origin: bottom left;
            }
          }
        }
      }
    }
  }
}

@keyframes flicker {
        
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px rgb(255, 255, 255),
      0 0 80px rgb(0, 0, 0),
      0 0 90px rgb(255, 255, 255),
      0 0 100px rgb(0, 0, 0),
      0 0 150px rgb(255, 255, 255);
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}