/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
*{
  font-family: 'Lato';
}

.header{
  .myNavbar{
    background-image: linear-gradient(#7c0a0a, #c62828);
    box-shadow: 0 0 10px black;
    .myNavbar__brand{
      margin: 0;
    }
    .myNav{
      margin-left: auto;
      .myNavLink{
        display: inline-block;
        position: relative;
        color: #f3f3f3;
        font-size: 1.1rem;
        font-family: 'Lato';
        margin-right: 2rem;
        font-weight: 600;
        &:after {
          content: '';
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 3px;
          bottom: 0;
          left: 0;
          background-color: #f3f3f3;
          transform-origin: bottom right;
          transition: transform 0.3s ease-out;
        }
        &:hover {
          font-weight: 800;
          &:after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
        }
        
      }
    }
  }
}
