@import "../../variables";

@media only screen and (max-width: 600px) {
    .containerFilter{
        display: flex;
        flex-direction: column;
        text-align: left;
        .titleFilter{
            font-size: 1.8rem;
            font-family: $_font_primary;
            font-weight: 800;
            text-transform: uppercase;
            margin-left: 2rem;
            margin-bottom: 2rem;
            text-decoration: 3px solid #000 underline;
        }
        .listaCategorias{
            list-style-type: none;;
            text-align: left;
            font-size: 1.2rem;
            .itemCategoria{
                color: $primary_color;
                font-weight: 600;
            }
        }
        
        
    }
}

@media only screen and (min-width: 600px) {
    .containerFilter{
        justify-content: space-between;
        width: 100%;
        height: auto;
        margin: auto;
        font-family: $_font_primary;
        .titleFilter{
            text-transform: uppercase;
            color: $primary_color;
            margin: auto;
            margin-bottom: 3rem;
            font-size: 2.3rem;
        }
        .listaCategorias{
            text-transform: uppercase;
            display: flex;
            flex-direction: row;
            margin: auto;
            list-style-type: none;
            font-family: $_font_secondary;
            justify-content: space-evenly;
            text-align: center;
            .itemCategoria{
                font-size: 1.1rem;
                color: $primary_color;
                font-weight: 600;
                &:hover{
                    text-decoration: 4px solid red underline;
                    transition: .5s ease-in-out;
                }
                
            }
        }
        
    }
}

@media only screen and (min-width: 1200px) {
    .containerFilter{
        justify-content: space-between;
        width: 100%;
        height: auto;
        margin: auto;
        font-family: $_font_primary;
        .titleFilter{
            text-transform: uppercase;
            color: $primary_color;
            margin: auto;
            margin-bottom: 3rem;
            font-size: 3rem;
        }
        .listaCategorias{
            text-transform: uppercase;
            display: flex;
            flex-direction: row;
            margin: auto;
            list-style-type: none;
            font-family: $_font_secondary;
            justify-content: space-around;
            text-align: center;
            .itemCategoria{
                font-size: 2rem;
                margin: .5rem;
                color: $primary_color;
                font-weight: 600;
                &:hover{
                    text-decoration: 4px solid red underline;
                    transition: .5s ease-in-out;
                }
                
            }
        }
        
    }
}