@import "../../variables";

@media only screen and (max-width: 600px) {
    .containerFilter{
        justify-content: space-between;
        width: 100%;
        height: auto;
        margin: auto;
        .listaCategorias{
            text-transform: uppercase;
            display: flex;
            flex-direction: row;
            margin: auto;
            list-style-type: none;
            font-family: $_font_logo;
            justify-content: space-evenly;
            text-align: center;
            .itemCategoria{
                font-size: 1rem;
                color: $primary_color;
                font-weight: 600;
                &:hover{
                    color: $acent-color;
                    transition: .5s ease-in-out;
                }
                
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    .containerFilter{
        justify-content: space-between;
        width: 100%;
        height: auto;
        margin: auto;
        font-family: $_font_primary;
        .listaCategorias{
            text-transform: uppercase;
            display: flex;
            flex-direction: row;
            margin: auto;
            list-style-type: none;
            font-family: $_font_logo;
            justify-content: space-evenly;
            text-align: center;
            .itemCategoria{
                font-size: 1.1rem;
                color: $primary_color;
                font-weight: 600;
                &:hover{
                    color: $acent-color;
                    transition: .5s ease-in-out;
                }
                
            }
        }
        
    }
}

@media only screen and (min-width: 1200px) {
    .containerFilter{
        justify-content: space-between;
        width: 100%;
        height: auto;
        margin: auto;
        font-family: $_font_primary;
        .listaCategorias{
            text-transform: uppercase;
            display: flex;
            flex-direction: row;
            margin: auto;
            list-style-type: none;
            font-family: $_font_logo;
            justify-content: space-around;
            text-align: center;
            .itemCategoria{
                font-size: 2rem;
                margin: .5rem;
                color: $primary_color;
                font-weight: 600;
                &:hover{
                    color: $acent-color;
                    transition: .5s ease-in-out;
                }
                
            }
        }
        
    }
}