@import "../../variables";

@media only screen and (max-width: 600px) {
    .footerContainer{
        width: auto;
        background-color: $primary-color;
        .info{
            background-color: #121212;
            color: $secondary-color;
            display: flex;
            flex-direction: column;
            height: 10vh;
            .infoText{
                font-family: $_font_primary;
                font-size: 1rem;
                margin: auto;
            }
            .infoAutor{
                font-family: $_font_primary;
                font-size: 1rem;
                margin: auto;
                .linkAutor{
                    color: $acent-color;
                    text-decoration: none;
                }
            }
        }
        
    }
}

@media only screen and (min-width: 600px) {
    .footerContainer{
        height: auto;
        width: auto;
        background-color: $primary-color;
        .info{
            background-color: #121212;
            color: $secondary-color;
            display: flex;
            flex-direction: column;
            justify-content:space-around;
            height: 10vh;
            .infoText{
                font-family: $_font_primary;
                font-size: 1.2rem;
                margin: auto;
            }
            .infoAutor{
                font-family: $_font_primary;
                font-size: 1rem;
                margin: auto;
                .linkAutor{
                    color: $acent-color;
                    text-decoration: none;
                }
            }
        }
    }
}