@import "../../variables";

@media only screen and (max-width: 600px) {
    .footerContainer{
        width: auto;
        background-color: $primary-color;
        .info{
            background-color: #121212;
            color: $secondary-color;
            text-align: center;
            display: flex;
            flex-direction: column;
            padding-top: 1rem;
            line-height: 2rem;

            
            .infoText{
                font-family: $_font_primary;
                font-size: .7rem;
                margin: auto;
            }
            .infoAutor{
                font-family: $_font_primary;
                font-size: .7rem;
                margin: auto;
                .linkAutor{
                    color: $acent-color;
                    text-decoration: none;
                }
            }
        }
        
    }
}

@media only screen and (min-width: 600px) {
    .footerContainer{
        width: auto;
        background-color: $primary-color;
        .info{
            background-color: #121212;
            color: $secondary-color;
            text-align: center;
            display: flex;
            flex-direction: column;
            padding: 2rem;
            line-height: 3rem;
            
            .infoText{
                font-family: $_font_primary;
                font-size: 1.2rem;
                margin: auto;
            }
            .infoAutor{
                font-family: $_font_primary;
                font-size: 1rem;
                margin: auto;
                .linkAutor{
                    color: $acent-color;
                    text-decoration: none;
                }
            }
        }
    }
}