@import "../../variables";

@media only screen and (max-width: 600px) {
    .login-screen{
        max-width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: auto;
        height: auto;
        background-color: $secondary-color;
        box-shadow: 20px 20px 60px #696969,
        -20px -20px 60px #ffffff;
        border-radius: 12px;
        margin-top: 30%;
        .titleFormContainer{
            margin-top: 10%;
            .title{
                font-family: $_font_logo;
                font-size: 2.3rem;
                text-transform: uppercase;
                color: $primary-color;
                text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
            }
        }
        .containerForm{
            font-family: $_font_secondary;
            font-weight: 600;
            .colLoginData{
                width: 100%;
                .loginForm{
                    margin-top: 2rem;
                    .form-control{
                        font-size: .8rem;
                        width: 70%;
                        justify-content: center;
                        text-align: center;
                        margin: auto;
                    }
                    .containerButton{
                        display: flex;
                        flex-direction: column;
                        margin: 2rem;
                        justify-content: space-between;
                        margin: auto;

                        .btn-login{
                            width: 70%;
                            margin: auto;
                            background-color: $primary-color;
                            color: $secondary-color;
                            font-size: .8rem;
                            margin-bottom: 2rem;
                        }
                        .btn-register{
                            margin-top: 3rem;
                            color: $primary-color;
                            font-size: .8rem;
                           
                        }
                        .btn-google{
                            width: 70%;
                            background-color: rgb(0, 102, 255);
                            color: $secondary-color;
                            align-items: center;
                            font-size: .8rem;
                            margin: auto;
                            .iconGoogle{
                                font-size: 1.2rem;
                            }                        
                        }
                        
                    }
                }
            }
        } 
    }
}

@media only screen and (min-width: 600px) {
    .login-screen{
        max-width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: auto;
        height: auto;
        background-color: $secondary-color;
        box-shadow: 20px 20px 60px #696969,
        -20px -20px 60px #ffffff;
        border-radius: 12px;
        margin-top: 20%;
        .titleFormContainer{
            margin-top: 10%;
            .title{
                font-family: $_font_logo;
                font-size: 3.5rem;
                text-transform: uppercase;
                color: $primary-color;
                text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
            }
        }
        .containerForm{
            width: 100%;
            font-family: $_font_secondary;
            .colLoginData{
                .loginForm{
                    margin-top: 2rem;
                    .form-control{
                        width: 60%;
                        justify-content: center;
                        text-align: center;
                        margin: auto;
                    }
                    .containerButton{
                        margin: 2rem;
                        .btn-login{
                            width: 70%;
                            margin: auto;
                            background-color: $primary-color;
                            color: $secondary-color;
                            font-size: 1rem;
                            margin-bottom: 2rem;
                        }
                        .btn-register{
                            margin-top: 3rem;
                            color: $primary-color;
                            font-size: 1rem;
                           
                        }
                        .btn-google{
                            width: 70%;
                            background-color: rgb(0, 102, 255);
                            color: $secondary-color;
                            align-items: center;
                            font-size: 1rem;
                            margin: auto;
                            .iconGoogle{
                                font-size: 1.5rem;
                            }                        
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .login-screen{
        max-width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: auto;
        height: auto;
        background-color: $secondary-color;
        box-shadow: 20px 20px 60px #696969,
        -20px -20px 60px #ffffff;
        border-radius: 12px;
        margin-top: 10%;
        .titleFormContainer{
            margin-top: 10%;
            .title{
                font-family: $_font_logo;
                font-size: 4rem;
                text-transform: uppercase;
                color: $primary-color;
                text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
            }
        }
        .containerForm{
            width: 100%;
            font-family: $_font_secondary;
            .colLoginData{
                .loginForm{
                    margin-top: 2rem;
                    .form-control{
                        width: 20vw;
                        justify-content: center;
                        text-align: center;
                        margin: auto;
                        font-size: 1.2rem;
                    }
                    .containerButton{
                        margin: 2rem;
                        .btn-login{
                            width: 20vw;
                            margin: auto;
                            background-color: $primary-color;
                            color: $secondary-color;
                            font-size: 1rem;
                            margin-bottom: 2rem;
                        }
                        .btn-register{
                            width: 20vw;
                            margin-top: 3rem;
                            color: $primary-color;
                            font-size: 1rem;
                           
                        }
                        .btn-google{
                            width: 20vw;
                            background-color: rgb(0, 102, 255);
                            color: $secondary-color;
                            font-size: 1rem;
                            margin: auto;
                            .iconGoogle{
                                font-size: 1.5rem;
                            }                        
                        }
                    }
                }
            }
        }
    }
}
