@import "../../variables";

@media only screen and (max-width: 600px) {
    .login-screen{
        max-width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: auto;
        height: auto;
        background-image: url('https://images.unsplash.com/photo-1638377607672-dad1f75b56c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
        background-size: cover;
        box-shadow: 20px 20px 60px #696969,
        -20px -20px 60px #ffffff;
        border-radius: 12px;
        margin-top: 30%;
        
        .titleFormContainer{
            margin-top: 10%;
            .title{
                font-family: $_font_logo;
                font-size: 2.3rem;
                text-transform: uppercase;
                color: $secondary-color;
                text-shadow: 0px 3px 0px #000000,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
            }
        }
        .containerForm{
            font-family: $_font_secondary;
            font-weight: 600;
            .colLoginData{
                width: 100%;
                .loginForm{
                    margin-top: 2rem;
                    .form-control{
                        font-size: .9rem;
                        max-width: 70%;
                        justify-content: center;
                        text-align: center;
                        margin: auto;
                    }
                    .containerButton{
                        display: flex;
                        flex-direction: column;
                        margin: 2rem;
                        justify-content: space-between;
                        margin: auto;

                        .btn-login{
                            max-width: 70%;
                            margin: auto;
                            background-color: $primary-color;
                            color: $secondary-color;
                            font-size: .9rem;
                            margin-bottom: 2rem;
                        }
                        .btn-register{
                            margin-top: 3rem;
                            color: $secondary-color;
                            font-size: .9rem;
                           
                        }
                        .btn-google{
                            max-width: 70%;
                            background-color: rgb(0, 102, 255);
                            color: $secondary-color;
                            align-items: center;
                            font-size: .9rem;
                            margin: auto;
                            .iconGoogle{
                                font-size: 1.2rem;
                            }                        
                        }
                        
                    }
                }
            }
        } 
    }
}

@media only screen and (min-width: 600px) {
    .login-screen{
        max-width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: auto;
        height: auto;
        background-image: url('https://images.unsplash.com/photo-1638377607672-dad1f75b56c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
        box-shadow: 20px 20px 60px #696969,
        -20px -20px 60px #ffffff;
        border-radius: 12px;
        margin-top: 30%;
        
        .titleFormContainer{
            margin-top: 10%;
            .title{
                font-family: $_font_logo;
                font-size: 3rem;
                text-transform: uppercase;
                color: $secondary-color;
                text-shadow: 0px 3px 0px #000000,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
            }
        }
        .containerForm{
            font-family: $_font_secondary;
            font-weight: 600;
            .colLoginData{
                width: 100%;
                .loginForm{
                    margin-top: 2rem;
                    .form-control{
                        font-size: .8rem;
                        max-width: 40%;
                        justify-content: center;
                        text-align: center;
                        margin: auto;
                    }
                    .containerButton{
                        display: flex;
                        flex-direction: column;
                        margin: 2rem;
                        justify-content: space-between;
                        margin: auto;

                        .btn-login{
                            max-width: 40%;
                            margin: auto;
                            background-color: $primary-color;
                            color: $secondary-color;
                            font-size: .8rem;
                            margin-bottom: 2rem;
                        }
                        .btn-register{
                            margin-top: 3rem;
                            color: $secondary-color;
                            font-size: .8rem;
                           
                        }
                        .btn-google{
                            max-width: 50%;
                            background-color: rgb(0, 102, 255);
                            color: $secondary-color;
                            align-items: center;
                            font-size: .8rem;
                            margin: auto;
                            .iconGoogle{
                                font-size: 1.2rem;
                            }                        
                        }
                        
                    }
                }
            }
        } 
    }
}

@media only screen and (min-width: 1200px) {
    .login-screen{
        max-width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: auto;
        height: auto;
        background-image: url('https://images.unsplash.com/photo-1638377607672-dad1f75b56c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
        background-size: contain;
        box-shadow: 20px 20px 60px #696969,
        -20px -20px 60px #ffffff;
        border-radius: 12px;
        margin-top: 10%;
        
        .titleFormContainer{
            margin-top: 5%;
            .title{
                font-family: $_font_logo;
                font-size: 5rem;
                text-transform: uppercase;
                color: $secondary-color;
                text-shadow: 0px 3px 0px #000000,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
            }
        }
        .containerForm{
            font-family: $_font_secondary;
            font-weight: 600;
            .colLoginData{
                width: 100%;
                .loginForm{
                    margin-top: 2rem;
                    .form-control{
                        font-size: 1.5rem;
                        width: 70%;
                        justify-content: center;
                        text-align: center;
                        margin: auto;
                    }
                    .containerButton{
                        display: flex;
                        flex-direction: column;
                        margin: 2rem;
                        justify-content: space-between;
                        margin: auto;

                        .btn-login{
                            max-width: 50%;
                            margin: auto;
                            background-color: $primary-color;
                            color: $secondary-color;
                            font-size: 1.2rem;
                            margin-bottom: 2rem;
                        }
                        .btn-register{
                            margin-top: 3rem;
                            color: $secondary-color;
                            font-size: 1.2rem;
                           
                        }
                        .btn-google{
                            max-width: 30%;
                            background-color: rgb(0, 102, 255);
                            color: $secondary-color;
                            align-items: center;
                            font-size: 1.2rem;
                            margin: auto;
                            .iconGoogle{
                                font-size: 1.2rem;
                            }                        
                        }
                        
                    }
                }
            }
        } 
    }
}
