@import "../../variables";

@media only screen and (max-width: 600px) {
    .containerButtonScroll{
        .btnScroll{
            position: absolute;
            right: 5%;
            margin-top: -6rem;
            background-color: $secondary-color;
            border-color: transparent;
            border-radius: 50%;
            .iconScroll{
                font-size: 1.5rem;
                color: $primary-color;
                

            }

        }
    }
}

@media only screen and (min-width: 600px) {
    .containerButtonScroll{
        .btnScroll{
            position: absolute;
            right: 5%;
            margin-top: -6rem;
            background-color: $secondary-color;
            border-color: transparent;
            border-radius: 50%;
            .iconScroll{
                font-size: 1.8rem;
                color: $primary-color;
                

            }

        }
    }
}

@media only screen and (min-width: 1200px) {
    .containerButtonScroll{
        .btnScroll{
            position: absolute;
            right: 5%;
            margin-top: -7rem;
            background-color: $secondary-color;
            border-color: transparent;
            border-radius: 50%;
            .iconScroll{
                font-size: 1.8rem;
                color: $primary-color;
                

            }

        }
    }
}