@import "../../variables";

@media only screen and (max-width: 600px) {
    .cardContainer{
        justify-content: center;
        display: inline-block;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        margin-bottom: 3rem;
        max-width: 75ch;
        .cardProduct{
            margin-top: 1rem;
            
            &:hover{
                transition: .2s ease-out;
                box-shadow: 5px 5px 15px #696969,
                -5px -5px 15px #ffffff;
            }
            border-radius: 24px;
    
            .cardBody{
                text-align: left;
                .cardTitle{
                    font-weight: 600;
                    font-size: 1rem;
                    margin-bottom: 1rem;
                    font-family: $_font_secondary;
                }
                .cardPrice{
                    font-family: $_font_primary;
                    display: flex;
                    flex-direction: column;
                    font-weight: 800;
                    font-size: 1.5rem;
                }
            }
        }
    }
    
}

@media only screen and (min-width: 600px) {
    .cardContainer{
        justify-content: center;
        display: inline-block;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        margin-bottom: 3rem;
        max-width: 75ch;
        .cardProduct{
            margin: 1rem;
            &:hover{
                transition: .2s ease-out;
                box-shadow: 5px 5px 15px #696969,
                -5px -5px 15px #ffffff;
            }
            border-radius: 24px;
    
            .cardBody{
                text-align: left;
                .cardTitle{
                    font-weight: 600;
                    font-size: 1rem;
                    margin-bottom: 1rem;
                    font-family: $_font_secondary;
                }
                .cardPrice{
                    font-family: $_font_primary;
                    display: flex;
                    flex-direction: column;
                    font-weight: 800;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .cardContainer{
        justify-content: center;
        display: inline-block;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        margin-bottom: 3rem;
        max-width: 75ch;
        .cardProduct{
            margin-left: 2rem;
            margin-top: 3rem;
            
            &:hover{
                transition: .2s ease-out;
                box-shadow: 5px 5px 15px #696969,
                -5px -5px 15px #ffffff;
            }
            border-radius: 24px;
            .cardBody{
                text-align: left;
                .cardTitle{
                    font-weight: 800;
                    font-size: 1rem;
                    font-family: $_font_secondary;
                }
                .cardPrice{
                    display: flex;
                    flex-direction: column;
                    font-weight: 800;
                    font-size: 1.6rem;
                    font-family: $_font_primary;
                } 
            }
        }
    }
    
}
